.theSearch {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
  /* line-height and height help verticaly center */
  line-height: 50vh;
  height: 50vh;
}
